"""
Fichier requirements.txt pour le crawler SST.
"""

# Dépendances principales
scrapy==2.13.0
spacy==3.8.7
beautifulsoup4==4.12.3
python-dateutil==2.9.0
pdfminer.six==20250506
nltk==3.9.1
schedule==1.2.2
requests==2.31.0

# Dépendances pour le traitement du langage naturel
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.8.0/fr_core_news_md-3.8.0-py3-none-any.whl
